
<!-- include header -->
<%- include('include/_header') %> 

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/" class=""><i class="fas fa-angle-double-left"></i> Todos Usuários</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Atualizar Usuário</h2>
      <span class="text-light">Para atualizar sua conta preencha o formulário</span>
    </div>

    <!-- form handling -->

    <form method="post" id="update-user">
      <div class="new-user">
        <div class="form-group">
          <label for="name" class="text-light">Nome</label>
          <input type="hidden" name="id" value="<%= user._id %>">
          <input type="text" name="name" value="<%= user.name %>" placeholder="José da Silva">
        </div>
        <div class="form-group">
          <label for="Email" class="text-light">Email</label>
          <input type="text" name="email" value="<%= user.email %>" placeholder="Exemplo@gmail.com">
        </div>
        <div class="form-group">
          <label for="gender" class="text-light">Genero</label>
          <div class="radio inline">
            <input type="radio" id="radio-2" name="gender" value="Masculino" <%= user.gender == 'Masculino' ? 'checked' : ''%>>
            <label for="radio-2" class="radio-label">Masculino</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="radio-3" name="gender" value="Feminino" <%= user.gender == 'Feminino' ? 'checked' : ''%>>
            <label for="radio-3" class="radio-label">Feminino</label>
          </div>
    
          <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
              <input type="radio" id="radio-4" name="status" value="Ativo" <%= user.status == 'Ativo' ? 'checked' : ''%>>
              <label for="radio-4" class="radio-label">Ativo(a)</label>
            </div>
            <div class="radio inline">
              <input type="radio" id="radio-5" name="status" value="Inativo" <%= user.status == 'Inativo' ? 'checked' : ''%>>
              <label for="radio-5" class="radio-label">Inativo(a)</label>
            </div>
          </div>
            
          <div class="form-group">
            <button type="submit" class="btn text-dark update">Salvar</button>
          </div>
    
      </div>
    </form>
  </div>
</main>

<!-- include footer -->
<%- include('include/_footer') %> 